:root {
  /* Colors */
  --color-g1: #019982;
  --color-b1: #393838;
  --color-w2: #F7F7F7;

  /* Fonts - Title */
  --font-title-family: "ABeeZee";
  --font-title-size: 50px;
  --font-title-weight: 400;
  --font-title-line-height: 100px;
  --font-title-letter-spacing: 0px;

  /* Fonts - t1 */
  --font-t1-family: "Pretendard";
  --font-t1-size: 28px;
  --font-t1-weight: 400;
  --font-t1-line-height: 33px;
  --font-t1-letter-spacing: 0px;

  /* Fonts - SuvT */
  --font-suvt-family: "Pretendard";
  --font-suvt-size: 32px;
  --font-suvt-weight: 300;
  --font-suvt-line-height: 45px;
  --font-suvt-letter-spacing: 0px;

  /* Effects */
  --effect-1: drop-shadow(0px 4px 8.9px #0000001A);
}
